*{
    margin:0;
    padding:0 ;
}
body{
   background-color:gray ;
   font-family: 'Manrope', sans-serif;

}
.container{
    max-width: 1000px; 
    background-color:slategray;
    margin:0 auto;
    padding:20px;
}
.profile-image{
    width:100px;
    height: 120px;
    border:3px solid black;
    border-radius: 80%;
    float: left;
}
.header-bio{
    float: left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:black;
}
.header-contact{
    float:right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color:black;
    font-weight:bold ;
}
.header-contact a:hover{
    text-decoration: underline;
    color:tomato;
}
.div-clear{
    clear:both;
}
hr{
    border:solid black 3px;
    width:100%;
    margin:20px auto;
}
/*-----------------personal section starts-----------------
-----------------------------------------------------------*/
 #personal-section{
    margin:0 auto;
}
.content{
 margin-bottom: 30px;
}
.left-div{
    width:30%;
    float:left;
}
.right-div{
    width:70%;
    float:left;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width:100%;
    margin:20px auto;
}
/*-----bottom section starts--------------*/
.bottom-container{
    background-color: black;
    text-align: center;
    padding: 20px;
}
.bottom-container a{
    color:white;
    text-decoration:none ;
    margin:20px;
}
.bottom-container p{
    color:white;
    margin:20px;
}